<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Choose task type{% endblock %}
        {% block content %}
    </head>
    <body>
        <p><form action="/course_page/{{ course_id }}" method="post">
            <input type="submit" value="Back to course page">
        </form></p>
        <hr>
        <div class="container">
            <p>Do you want to add a multiple choice task or a fill-in-correct-answer task?</p>
            <p><a href="/add_multiple_choice/{{ info[0] }}">Add multiple choice task </a></p>
            <p><a href="/add_fill_in/{{ info[0] }}">Add fill-in-correct-answer task</a></p>
        </div>
        {% endblock %}
    </body>
</html>