{% extends "layout.html" %}
{% block title %}Course page{% endblock %}
{% block content %}
<p></p>
Tämä on kurssin <b>{{ info[1] }}</b> pääsivu
<p>
Kurssin esittely: {{ info[3] }} 
<form action="/join_course" method="post">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Join course">
</form>
<p>
<form action="/course_material/{{ info[0] }}" method="get">
<input type="submit" value="Course material">
</form>
<p>
<form action="/course_tasks/{{ info[0] }}" method="get">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Course tasks">
</form>
<p>
<hr>
<form action="/change_course/{{ info[0] }}" method="get">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Change course name/description">
</form>
<p>
<form action="/delete_course" method="post">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Delete course">
</form>
<p>
<form action="/add_material/{{ info[0] }}" method="get">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Add course material">
</form>
<p>
<form action="/add_tasks/{{ info[0] }}" method="get">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Add course tasks">
</form>
<p>
<p></p>
{% endblock %}
