<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %} Course page {% endblock %}
        {% block content %}
    </head>
    <body>      
        {% if error %}
            <div style="color: red">{{ error}}</div>
        {% endif %}
        {% if not error %}
            <p><form action="/courses" method="post">
                <input type="submit" value="Back to courses">
            </form></p>
            {% if success %}
                <div style="color: green">{{ success }}</div>
           {% endif %}
            {% if message %}
                <div style="color: red">{{ message }}</div>
            {% endif %}
            <hr>
            <p>This is course <b>{{ info[1] }}</b> mainpage</p>
            <p><b>Course description:</b> {{ info[3] }}</p>
            <div class="container">
                {% if not teacher %} 
                    <p><form action="/join_course" method="post">
                        <input type="hidden" name="course_id" value="{{ info[0] }}">
                        <input type="submit" value="Join course">
                    </form></p>
                {% endif %}
                <p><form action="/course_material/{{ info[0] }}" method="get">
                    <input type="submit" value="Course material">
                </form></p>
                <p><form action="/course_tasks/{{ info[0] }}" method="get">
                    <input type="submit" value="Course tasks">
                </form></p>
                <p><form action="/course_statistics/{{ info[0] }}" method="get">
                    <input type="submit" value="Course statistics">
            </div>
            </form></p>
            {% if teacher %}    
                <hr>
                <div class="container">
                    <p><form action="/change_course/{{ info[0] }}" method="get">
                        <input type="submit" value="Change course info">
                    </form></p>
                    <p><form action="/delete_course" method="post" onclick="return confirm('Are you sure you want to delete the course and all related tasks and materials?')">
                        <input type="hidden" name="course_id" value="{{ info[0] }}">
                        <input type="submit" value="Delete course">
                    </form></p>
                    <p><form action="/add_material/{{ info[0] }}" method="get">
                        <input type="submit" value="Add material">
                    </form></p>
                    <p><form action="/choose_task/{{ info[0] }}" method="get">
                        <input type="submit" value="Add tasks">
                    </form></p>
                </div>
            {% endif %}
        {% endif %}
        {% endblock %}
    </body>
</html>