{% extends "layout.html" %}
{% block title %}Mainpage{% endblock %}
{% block content %}
<h2>Number of available courses: {{count}}</h2>
<hr>
{% for course in courses %}
<i>Course:</i> {{ course[1] }}
<p>
<i>Course description:</i> {{ course[2] }}
<form action="/join_course" method="post">
<input type="hidden" name="course_id" value="{{ course[0] }}">
<input type="submit" value="Join course">
</form>
<p>
<form action="/delete_course" method="post">
<input type="hidden" name="course_id" value="{{ course[0] }}">
<input type="submit" value="Delete course">
</form>
<hr>
{% endfor %}

{% if session.user_id %}
<p>
<a href="/create_course">Create a new course</a> 
<p>
<a href="/logout">Logout</a>

{% else %}
<a href="/login">Login</a>
{% endif %}

{% endblock %}