{% extends "layout.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
<h2>Number of available courses: {{count}}</h2>
<hr>
{% for course in courses %}
<i>Course:</i> {{ course[1] }}
<p>
<i>Course description:</i> {{ course[2] }}
<p>
<form action="/course_page/{{ course[0] }}" method="post">
<input type="hidden" name="course_id" value="{{ course[0] }}">
<input type="submit" value="Course page">
</form>
<p>
<hr>
{% endfor %}
{% if teacher==True %}  
<a href="/create_course">Create a new course</a>
{% endif %}
{% if session.user_id %}
<p>
<a href="/logout">Logout</a>
{% else %}
{% endif %}
{% endblock %}