<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">   
        {% extends "layout.html" %}
        {% block content %}
    </head>
    <body>
        <h2>Main page</h2>
        <hr>
        {% if error %}
                <div style="color: red">{{ error }}</div>
                <p></p>
        {% endif %}
        <div class="container">
            <p>Welcome to the site!</p>
            {% if session.user_id %}
                <p>You are logged in as <b>{{ name }}.</b></p>
            </div>
                <hr>
                <p><a href="/logout">Logout</a></p>
            {% else %}
                <p>You are not logged in.</b></p>
                <p><a href="/login">Login</a> </p>
            {% endif %}
        {% endblock %}
    </body>
</html>