<!doctype html>
<html>
    <head>
        {% extends "layout.html" %}
        {% block content %}
    </head>
    <body>
        <h2>Main page</h2>
        <div class="smaller_submit_container">
            <p>Welcome to the site!</p>
            {% if session.user_id %}
                <p>You are logged in as <b>{{ name }}.</b></p>
            </div>
                <hr>
                <p><a href="/logout">Logout</a></p>
            {% else %}
                <p>You are not logged in</b></p>
                <p><a href="/login">Login</a> </p>
            {% endif %}
        
        {% endblock %}
    </body>
</html>