<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Education App {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Education App</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/create_users">Create user profile</a></li>
                {% if session.user_id %}
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/own_courses">Own courses</a></li>           
                {% endif %}       
            </ul>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>