<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Login{% endblock %}
        {% block content %}
        <script>
            function check(form) {
                var errors = [];
                if (form.username.value.length < 4) {
                    errors.push("Username too short (minimum 4 characters)");
                }
                if (form.password.value.length < 4) {
                    errors.push("Password too short (minimum 4 characters)");
                }
                if (errors.length > 0){
                    alert(errors.join("\n"));
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
        <h2>Login</h2>   
        <hr>
        {% if message %}
            <div style="color: red">{{ message }}</div>
        {% endif %}
        <div class="container">
            <form action="/login" method="post" onsubmit="return check(this)">
                <p>Username: <input type="text" name="username"></p>
                <p>Password: <input type="password" name="password"></p>
                <p><input type="submit" value="Login"></p>
            </form>
            <p>If you don't have an account yet, you can create one <a href="/create_users">here</a></p>
        </div>  
    {% endblock %}
    </body>
</html>