<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Materials{% endblock %}
        {% block content %}
    </head>
    <body>
        {% if error %}
            <div style="color: red">{{ error }}</div>
            <p><form action="/courses" method="post">
                <input type="submit" value="Back to courses">
            </form></p>
        {% endif %}
        {% if not error %}
            <p><form action="/course_page/{{ course_id }}" method="post">
                <input type="submit" value="Back to course page">
            </form></p>
            <hr>
            {% if message %}
                 <div style="color: red">{{ message }}</div>
            {% endif %}
            <h2>Available material:</h2>
            <hr>
            {% for mat in material %}
            <div class="container">
                <p><b>Material name:</b> {{ mat[1] }}</p>
                <p><a href="/material_page/{{ mat[3] }}/{{ mat[0] }}"> Read material </a></p>
            {% if teacher %}
                <div class="button-container">
                    <p><form action="/delete_material/{{ mat[0] }}" method="post" onclick="return confirm('Are you sure you want to delete this material?')">
                        <input type="submit" value="Delete material">
                    </form></p>
                    <p> <form action="/change_material/{{ mat[0] }}" method="get">
                        <input type="submit" value="Change material">
                    </form></p>
                </div>
            {% endif %} 
            </div>
            <p></p>
            {% endfor %}
        {% endif %}
        {% endblock %}
    </body>
</html>