{% extends "layout.html" %}
{% block title %}New material{% endblock %}
{% block content %}
<form action="/course_page/{{ id }}" method="post">
    <input type="submit" value="Back to course page">
    </form>
    <p>
    <hr>
<p>
<h3>Add new material to course</h3>
<p>
<form action="/add_material/{{ id }}" method="post">
Material name (5-30 characters): <input type="text" name="materialname" required minlength="5" maxlength="30">
<p>
Text material (5-500 characters): <br>
<textarea name="materialtext" required minlength="5" maxlength="500" ></textarea>
<br>
<input type="submit" value="Add material">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}