{% extends "layout.html" %}
{% block title %}New course{% endblock %}
{% block content %}
<h3>Create new course</h3>
<p>
<form action="/create_course" method="post">
Course name (5-40 characters): <input type="text" name="coursename" required minlength="5" maxlength="40">
<p>
Course description (5-200 characters): <br>
<textarea name="description" required minlength="5" maxlength="200"></textarea>
<br>
<input type="submit" value="Create new course">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>  
<hr>
<p>
<form action="/course_page/{{ course_id }}" method="post">
<input type="submit" value="Back to course page">
</form>
{% endblock %}