{% extends "layout.html" %}
{% block title %}Mainpage{% endblock %}
{% block content %}
<h3>Add new material to course</h3>
<p>
<form action="/add_material/{{ id }}" method="post">
Material name: <input type="text" name="materialname">
<p>
Text material: <br>
<textarea name="materialtext"></textarea>
<br>
<input type="submit" value="Add material">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
    function check(form) {
        if (form.title.value.length > 100) {
            alert("Course name too long");
            return false;
        }
        if (form.message.value.length > 5000) {
            alert("Course description too long");
            return false;
        }
        return true;
    }
    </script>

{% endblock %}