<!doctype html>
<html>
    <head>
        {% extends "layout.html" %}
        {% block title %}New task{% endblock %}
        {% block content %}
    </head>
    <body>
        <p><form action="/course_page/{{ course_id }}" method="post">
            <input type="submit" value="Back to course page">
        </form></p>
        <hr>
        <p><form action="/add_fill_in/{{ course_id }}" method="post"></p>
            <p><h3>Fill-in-correct-answer task</h3></p>
            <div class="smaller_submit_container">
                <p>Write the task question in the question field.</p>
                <p>Write the correct answer in the field under that.</p>
                <p>(It is best to write the answer as single word, without capital letters or special characters).</p>
            </div>
            <p></p>
             <div class="submit_container">
                <p>Question (5-100 characters):</p>
                <p><input type="text" name="question" required minlength="5" maxlength="100"></p>
                <p>Answer (5-30 characters):</p>
                <p><input type="text" name="answer" required minlength="5" maxlength="30"></p>
                <p><input type="submit" value="Add task"></p>
            </div>
            </form>
        {% endblock %}
    </body>
</html>

