<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Tasks{% endblock %}
        {% block content %}
    </head>
    <body>
        {% if error %}
            <div style="color: red">{{ error }}</div>
        {% endif %}
        {% if not error %}
            <h2>Own courses</h2>
            <hr>
            <p><b>Number of own courses: {{count}}</b></p>
            {% if course_info %}
                {% for info in course_info %}
                    <div class="container">
                        <p><b>Course name:</b> {{ info[1] }}</p>
                        <p><b>Course description:</b> {{ info[3] }}</p>
                        <p><form action="/course_page/{{ info[0]}}" method="get">
                            <input type="hidden" name="course_id" value="{{ info[0] }}">
                            <input type="submit" value="To course page">
                        </form></p>
                        <p><form action="/course_statistics/{{ info[0] }}" method="get">
                            <input type="submit" value="Course statistics ">
                        </form></p>
                    </div>
                    <hr>
                {% endfor %}
                {% else %}
                <p>You haven't joined any courses yet.</p>
                <hr>
            {% endif %}
            {% if session.user_id %}
                <p><a href="/logout">Logout</a></p>
            {% else %}
            {% endif %}
        {% endif %}
        {% endblock %}
    </body>
</html>  