{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<h2>Own courses:</h2>
<hr>
{% if course_info %}
{% for info in course_info %}
<i>Course name:</i> {{ info[1] }}
<p>
Course description {{ info[3] }}
<p>
<form action="/course_page/{{ info[0]}}" method="get">
<input type="hidden" name="course_id" value="{{ info[0] }}">
<input type="submit" value="Go to course page">
</form>
<p>
<form action="/course_statistics/{{ info[0] }}" method="get">
<input type="submit" value="See course tasks statistics ">
</form>
<hr>
<p>
{% endfor %}
{% else %}
You haven't joined any courses yet.
{% endif %}
{% endblock %}