<!doctype html>
<html>
    <head>
        {% extends "layout.html" %}
        {% block title %}Register teacher {% endblock %}
        {% block content %}
        <script>
            function check(form) {
                var errors = [];
                if (form.username.value.length > 40) {
                    errors.push("Username too long (maximum 40 characters)");
                }
                if (form.password1.value.length > 1000) {
                    errors.push("Password too long (maximum 1000 characters)");
                }
                if (form.username.value.trim().length < 4) {
                    errors.push("Username too short (minimum 4 characters)");
                }
                if (form.password1.value.trim().length < 4) {
                    errors.push("Password too short (minimum 4 characters)");
                }
                if (form.password1.value != form.password2.value) {
                    errors.push("Passwords do not match");
                }
                if (errors.length > 0) {
                    alert(errors.join("\n"));
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
        <h2>Create new teacher account</h2>
        {% if error %}
            <div style="color: red">{{ error }}</div>
        {% endif %}
        {% if message %}
            {% for error in message %}
                <div style="color: red">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div class="submit_container">
            <form action="/create_teacher" method="post" onsubmit="return check(this)">
                <p>Username: <input type="text" name="username"></p>
                <p>Password: <input type="password" name="password1"></p>
                <p>Password again: <input type="password" name="password2"></p>
                <p><input type="submit" value="Create account"></p>
            </form>
        </div> 
        {% endblock %}
    </body>
</html>