<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Student statistics{% endblock %}
        {% block content %}
        <script>
            function HideDiv(given_div) {
              var x = document.getElementById(given_div);
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
        </script>
    </head>
    <body>
        {% if error %}
            <div style="color: red">{{ error }}</div>
        {% endif %}
        {% if not error %}
            <p><form action="/course_page/{{ course_info[0] }}" method="post">
                <input type="submit" value="Back to course page">
            </form></p>
            <hr>
            <p><h2>Course Statistics</h2></p> 
            <hr>
            <h3>Course name:</h3> 
            <div class="container">
                <b>{{ course_info[1] }}</b>
            </div>    
            <p></p> 
            <h3>Course teacher:</h3>
                <div class="container">
                <b>{{ teacher }}</b>
            </div>
            <hr>
            <p><h3>Course task status:</h3></p>
            <p><button type="button" onclick="HideDiv('myDIV1')">Show/hide</button></p>
            <div id="myDIV1">
                {% for i in range(0, length) %}
                    <div class="container"> 
                        <p><b>Task:</b> {{ course_tasks[i][1] }}</p>
                        <p><b>Task status:</b> {{ answers[i][1] }}</p>
                    </div>
                <p></p>    
                {% endfor %}  
            </div>
        {% endif %}
        {% endblock %}
    </body>
</html>