<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Multiple choice task{% endblock %}
        {% block content %}
    </head>
    <body>
        <p><form action="/course_tasks/{{ course_id }}" method="get">
            <input type="submit" value="Back to tasks">
        </form></p>
        <hr>
        <div class="container"> 
            <b>Question:</b> {{ task_info[1] }}
            <p><form action="/task_page/{{ course_id }}/{{ task_info[0] }}" method="post"><p>
            {% for i in range(0, length) %}
                <p>{{ task_choices[i][0] }} <input type="radio" name="answer" value="{{ i }}"></p>
            {% endfor %}
        </div>
        <p><input type="submit" value="Submit answer"></form></p>
        {% if previous_task %}
            <p><form action="/task_page/{{ course_id }}/{{ previous_task }}" method="get">
                <input type="submit" value="Previous task">
            </form></p>
        {% endif %} 
        {% if next_task %}
            <p><form action="/task_page/{{ course_id }}/{{ next_task }}" method="get">
                <input type="submit" value="Next task">
            </form></p>
        {% endif %} 
        {% endblock %}
    </body>
</html>