{% extends "layout.html" %}
{% block title %}Fill-in task{% endblock %}
{% block content %}
<p></p>
<form action="/course_tasks/{{ course_id }}" method="get">
    <input type="submit" value="Back to tasks">
    </form>
    <hr>
<p>
<b>Question:</b> {{ task_info[1] }} </p>
<p>
<form action="/task_page/{{ course_id }}/{{ task_info[0] }}" method="post">
<p>
Write the answer to the question below without capital letters and special characters
<p>
<input type="text" name="answer">
<p>
<input type="submit" value="Submit answer">
</form>
<p></p>
{% endblock %}
