<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
        {% extends "layout.html" %}
        {% block title %}Teacher statistics{% endblock %}
        {% block content %}
    </head>
    <body>
        <p><form action="/course_page/{{ course_info[0] }}" method="post">
            <input type="submit" value="Back to course page">
        </form></p>
        <hr>
        <p><h3>Course name:</h3>
        <div class="container">
             <b>{{ course_info[1] }}</p></b>
        </div>
        <hr>
        <h3>List of students:</h3>
        <p><b>Number of students in course: {{ student_amount }} </b></p>

        {% for student in student_info %}
            <div class="container"> 
                {{student}}
            </div>  
            <p></p>
        {% endfor %}

        {% if not student_info %}
            <div class="container"> 
                <b>No students yet</b>
            </div>  
            <p></p>
        {% endif%}

        <hr>
        <p><h3>Course task questions:</h3></p>
        <p><b>Number of tasks: {{ task_amount }} </b></p>

        {% for task in tasks %}  
            <div class="container">
                <b>Task: </b>{{ task[1] }}
            </div>
            <p></p>
        {% endfor %}

        {% if not tasks %}
            <div class="container"> 
                <b>No tasks yet</b>
            </div>  
            <p></p>
        {% endif%}

        <hr>
        <p><h3>Student task status:</h3></p>
        
        {% for student in student_results %}  
            <div class="container">
                <p><b>Task:</b> {{ student[1][1] }}</p>
                <p><b>Student:</b> {{ student[0] }}</p>
                <p><b>Task status:</b> {{ student[2][1] }}</p>
            </div>
            <p></p>
        {% endfor %}

        {% if not student_results %}
            <div class="container"> 
                <b>No results yet</b>
            </div>  
            <p></p>
        {% endif%}

        {% endblock %}
    </body>
</html>